body {
  margin: 0;
  padding: 0;
  background-color: #002b36;
  color: #839496;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
a {
  color: #93a1a1;
  text-decoration: none;
}
hr {
  color: #073642;
  background-color: #073642;
  height: 5px;
  border: none;
}
img {
  max-width: calc(100% - 10px);
  max-width: -moz-calc(100% - 10px);
  max-width: -webkit-calc(100% - 10px);
  max-width: -o-calc(100% - 10px);
  border: 5px solid;
  border-color: #073642;
}
.round-img {
  border-radius: 50%;
  padding: 2px;
  border: 10px solid;
}
aside div#user_meta {
  padding: 40px;
  text-align: center;
}
aside div#user_meta h2 {
  margin: 15px 0 5px 0;
}
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: .8rem;
}
aside div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: .9rem;
  list-style-type: none;
}
aside div#user_meta ul li {
  display: inline;
  line-height: 3em;
}
aside div#user_meta ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #073642;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #586e75;
}
main header {
  padding: 20px;
  border-top: #073642 5px solid;
  border-bottom: #073642 5px solid;
}
main header p {
  font-weight: bold;
  font-size: .7em;
  text-transform: uppercase;
}
main article {
  max-width: 640px;
  padding: 40px;
}
main article div.article_text {
  line-height: 1.375em;
}
main article div.article_text a {
  text-decoration: underline;
}
main article table.highlighttable {
  width: 100%;
}
main article div.linenodiv {
  text-align: right;
}
main article table td.linenos pre {
  padding: 5px;
  color: #93a1a1;
  font-size: .8rem;
  font-family: 'PT Mono', monospace;
  line-height: 1.125em;
  overflow-x: auto;
}
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #93a1a1;
  font-size: .8rem;
  font-family: 'PT Mono', monospace;
  background: #073642;
}
main article td.code pre {
  padding: 5px;
  color: #93a1a1;
  font-size: .8rem;
  font-family: 'PT Mono', monospace;
  line-height: 1.125em;
  overflow-x: auto;
}
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #586e75;
  font-style: italic;
}
main article div.gist {
  line-height: .875em;
}
main article div.article_meta {
  font-size: .7rem;
  color: #586e75;
}
main article a.button_continue {
  padding: 5px;
  border: 5px solid #073642;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #93a1a1;
  font-size: 0.7em;
  text-transform: uppercase;
}
main article a.button_continue:hover {
  color: #93a1a1;
  background-color: #073642;
}
main article a.button_continue:active {
  color: #93a1a1;
  background-color: #073642;
}
main footer {
  border-top: #073642 5px solid;
  padding: 40px;
}
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #073642;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #93a1a1;
  font-size: 1rem;
}
main footer a.button_accent:hover {
  color: #93a1a1;
  background-color: #073642;
}
main footer a.button_accent:active {
  color: #93a1a1;
  background-color: #073642;
}
main div#ending_message {
  border-top: #073642 5px solid;
  padding: 0 40px 0 40px;
  color: #586e75;
  font-size: .6rem;
}
@media screen and (min-width: 1024px) {
  aside {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #073642 5px solid;
  }
  aside h2 {
    margin: 10px 0 0 0;
  }
  aside div#user_meta {
    max-width: 128px;
    text-align: right;
  }
  aside div#user_meta ul li {
    display: block;
  }
  main {
    width: 85%;
    position: absolute;
    top: 0;
    left: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 800px;
  }
  main header {
    border-top: 0;
  }
}
